@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.theme-toggle {
  background: none;
  border: 2px solid var(--border);
  border-radius: $radius-full;
  width: 40px;
  height: 40px;
  @include flex-center;
  color: var(--text-primary);
  transition: all $transition-normal;

  @include hover {
    border-color: var(--accent);
    color: var(--accent);
  }
}
